@model List<TerritorioViewModel>

<div class="table-responsive">
    <h4>Lista de Territórios</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1">Codigo</th>
                <th>Nome</th>
                <th class="col-md-1">Editar</th>
                <th class="col-md-1">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var territorio in Model)
            {
                <tr>
                    <td class="col-md-1">@territorio.ID</td>
                    <td>@territorio.Nome</td>
                    <td><a class="glyphicon glyphicon-pencil" href="#"></a></td>
                    <td><a class="glyphicon glyphicon-trash" onclick="Excluir();"></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Total de territórios cadastrados: @Model.Count</td>
            </tr>
        </tfoot>
    </table>
</div>