<div class="tamanho-impressao">
    <div class="tamanho-bloco dados">
        @for (var i = 0; i < 4; i++)
        {
            <div class="pessoa borda-1px">
                <div class="icone-genero borda-1px">

                </div>
                <div class="formulario borda-1px">
                    <div class="nome-endereco-tamanho nome borda-1px">

                    </div>
                    <div class="nome-endereco-tamanho">
                        <div class="numero borda-1px">

                        </div>
                        <div class="bairro borda-1px">

                        </div>
                    </div>
                </div>
                <div class="genero borda-1px">

                </div>
                <div class="observacao borda-1px">

                </div>
            </div>
        }
        <div class="data borda-1px">

        </div>
    </div>
    <div class="tamanho-bloco mapa">
        <div class="mapa-foto">
            <img src="http://www.zonalestedesp.com.br/imagens/mapa-zona-leste-sp.jpg" />
        </div>
    </div>
</div>
