
@{
    ViewBag.Title = "Configurações";
}
<div id="mensagem">

</div>

<div id="partialLetra">

</div>

<hr class="table-responsive hr-cinza-2px" />

<div id="partialSaida">

</div>

<hr class="table-responsive hr-cinza-2px" />

<div id="partialTerritorio">

</div>

<hr class="table-responsive hr-cinza-2px" />

@section ChamadaAjax{
    <script>
        $(function () {
            Ajax.CarregarTabelas();
            setInterval(Ajax.CarregarTabelas, 500000);
        });

        var ajax = {
            Excluir: function (url) {
                $.ajax({
                    type: 'GET',
                    url: url,
                    async: true,
                    cache: false,
                    beforeSend: function () {
                        $('#myModal').modal('show');
                    },
                    success: function (data) {
                        $('#mensagem').html(data);
                    },
                    complete: function () {
                        $('#myModal').modal('hide');
                    }
                });
            }
        }
    </script>
}
