
@{
    ViewBag.Title = "Impressao";
    Layout = "~/Areas/ControleMapas/Views/Mapa/_LayoutImpressao.cshtml";
}
<div class="container">
    <h2>Impressao</h2>
</div>

@Html.Partial("_PartialMapaImprimir")
