body {
    padding-bottom: 70px;
}
.campos-direita{
     width: 50%;
     margin: 0 0 0 0;
}
.campos-esquerda{
    width: 50%;
    margin: 0 0 0 0;
}
/*BOTAO HOVER-----------------------------------------*/
.button-hover {
    -webkit-transition-duration: 0.4s !important; /* Safari */
    transition-duration: 0.4s;
}
.button-hover :hover{
    width:auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button-hover span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-hover:hover span {
  padding-right: 25px;
}
.button-hover span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-hover:hover span:after {
  opacity: 1;
  right: 0;
}
/*BOTAO HOVER-----------------------------------------*/

.progresso {
    display: none;
    position: fixed;
    top: 360px;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    height: 90px;
    width: 120px;
}

.formCadastro > div {
    padding-left: 35% !important;
}

.formCadastroTamanho {
    padding-top: 0% !important;
    padding: 0% 20% 0% 20%;
}

.text-align-center {
    text-align: center;
}

.field-validation-valid {
    color: aqua;
}

/*VIDEO CONTAINER-----------------------------------------*/
.video-container {
    height: 93vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}
/*VIDEO CONTAINER-----------------------------------------*/